[filter "strip-notebook-output"]
clean = jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR

[difftool "nbdime"]
cmd = nbdiff-web "$LOCAL" "$REMOTE"
trustExitCode = false

[diff "nbdime"]
name = "jupyter notebook diff"
textconv = jupyter nbconvert --to=script --stdout

[merge "nbdime"]
name = "Jupyter Notebook nbdime merge"
driver = git-nbmergedriver merge %O %A %B %A

[mergetool "nbdime"]
cmd = nbmerge-web "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
trustExitCode = false