[filter "strip-notebook-output"]
clean = jupyter nbconvert --ClearOutputPreprocessor.enabled=True --ClearMetadataPreprocessor.enabled=True \
    --TagRemovePreprocessor.enabled=True --to=notebook --stdin --stdout --log-level=ERROR

[difftool "jupyternotebook"]
cmd = git-nbdiffdriver diff "$LOCAL" "$REMOTE"
trustExitCode = false

[diff "jupyternotebook"]
name = "jupyter notebook diff"
command = git-nbdiffdriver diff

[merge "jupyternotebook"]
name = "Jupyter Notebook nbdime merge"
driver = git-nbmergedriver merge %O %A %B %A

[mergetool "jupyternotebook"]
cmd = nbmerge-web "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
trustExitCode = false
